import(XML)
import(stringr)
import(RCurl)
import(wordcloud)
import(tm)
import(RColorBrewer)
import(grid)
export(cleanAbstracts)
export(colSets)
export(editPMIDs)
export(getAbstracts)
export(getPMIDs)
export(plotWordCloud)
export(getPMIDsByKeyWords)
